extends layout

block content

  #company-header
    .ui.left.floated.image#company-logo
      img(src= company['logo'])
    .ui.list#company-guarantees
      - each val in company['guarantees']
        .item
          .ui.orange.label= val
    #employee-header-info
      h1= company['name']

  .main.container#company-info
    .ui.form
      .grouped.inline.fields
        h3.ui.header 基本信息
        .field
          label 注册时间
          p= formatDate(company.registeredAt)
        .field
          label 业务范围
          p= company.businessScope.join(', ')
        .field
          label 服务区域
          p= getServiceRegions(company.serviceRegions)
        .field
          label 服务保障
          p= company.guarantees.join(', ')

        h3.ui.header 联系方式
        .field
          label 网站
          p
            a(href=company.contacts.website)= company.contacts.website
        .field
          label Email
          p
            a(href='mailto:' + company.contacts.email)= company.contacts.email
        .field
          label 固定电话
          p= company.contacts.fixedPhone
        .field
          label 手机
          p= company.contacts.mobilePhone
        .field
          label QQ
          p= company.contacts.QQ
        .field
          label 地址
          p= company.contacts.address
        .field
          label 联系人
          p= company.contacts.contact
    h3.ui.header 公司简介
    .container!= company.about

  #employees-cards-list
    h3.ui.header 该公司有#{company['employeeCount']}个雇员
    .ui.very.relaxed.horizontal.list
      - each e in employees
        .item.ui.segment
          img.ui.left.floated.image(src =e['photo'])#employee-photo
          .content#info
            .ui.header= e.name
            div
              span 年龄:
              = (new Date().getFullYear() - e.birthday.getFullYear())
            div
              span 工作经验:
              = e.workExperience
            div
              span 服务项目:
              div
                each val in e.workDetail
                  = val.workType + ' '
          a.ui.fluid.blue.button#check-employee(href='employee/' + e._id) 查看资料
